{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <h2 class="display-6">All Books</h2>
    <div class="row" style="justify-content: center">
      {% for book in books %}
        <div class="card" style="width: 18rem;">
          <div class="card-body" style="justify-content: center" >
            <img class="img-fluid" src= {{ book.cover }} >
            <a href="/books/{{ book.id }}" class="btn btn-info" style="align-items: center; margin: 2px">
              View
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}}

