{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books" method="POST">
        <fieldset>
            <legend>Create New Book</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter book title"
                class="form-control"
            >
            <label class="form-label">Author:</label>
            <input 
                type="text" 
                name="author" 
                placeholder="enter author" 
                class="form-control"
            >
            <label class="form-label">Genre:</label>
            <input 
                type="text" 
                name="genre"
                placeholder="enter book genre(s)" 
                class="form-control"
            >
            <label class="form-label">Pages:</label>
            <input 
                type="number" 
                name="pages" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Create New Book" class="btn btn-success">
    </form>
</div>
{% endblock %}