#show-book {
    flex-direction: row;
    align-items: center;
}

body {
    background-color: rgb(222, 233,236);
}

.card {
    margin: 5px;
   

}

/* .card-title {
    font-weight: bold;
}

#show-cover {
    width: 40%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
} */ 