{% layout "layout.liquid" %}
{% block content %}

    <div>
        <img class="img-fluid" src="../images/complete rainbow.jpeg" alt="image of rainbow and reading rainbow logo">
    </div>


{% endblock %}