{% block content %}
<nav class="navbar navbar-expand-md" style="background-color: rgb(214,174,154)">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Reading Rainbow
        {%- comment -%} <img src="/images/rainbownav.jpeg" width="30" height="30" alt="small rainbow"> {%- endcomment -%}
        </a>
        {% if loggedIn %}
        <a href="/books" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                {%- comment -%} <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Param
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/books/title">title</a>
                    <a class="dropdown-item" href="/books/authors">authors</a>
                    <a class="dropdown-item" href="/books/genre">genre</a>
                </div>
                </div> {%- endcomment -%}
                <form action="/books/?" method="POST">
                    {%- comment -%} <a href="/books"></a> {%- endcomment -%}
                    <div class=”search-box”>
                        <input type=”text” name="book" id="bookSearch" placeholder="Find a book">
                        <button class=”search-btn” type=”submit”>Search</button>
                    </div>
                </form>
                <a href="/books" class="nav-link text-light">View All</a>
                {%- comment -%} <a href="/books/new" class="nav-link text-light">Add New Book</a> {%- endcomment -%}
                <a href="/books/read" class="nav-link text-light">My Read Books</a>
                <a href="/books/toread" class="nav-link text-light">Want to Read</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}