{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/reviews/edit/{{book.id}}/{{review.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{review.review}}</legend>
                <label class="form-label">Review: </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="enter review"
                    value="{{ review.review }}"
                >
            </fieldset>
            <input
                class="btn btn-success"
                type="submit"
                value="Edit Review"
            >
        </form>
    </div>

{% endblock %}